<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Componentes
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <section>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-action-sheet')">Action Sheet</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-alert')">Alert</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-fabs')">Fabs</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-input')">Inputs</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-list')">List</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-loading')">Loading</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-modal')">Modal</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-range')">Range</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-select')">Select</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-slides')">Slide</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-spinner')">Spinner</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-toast')">Toast</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-infinit-scroll')">Infinit Scroll</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-popover')">Popover</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-refresher')">Refresher</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-search-bar')">SearchBar</ion-button>
        <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('component-toggle')">Toggle</ion-button>
    </section>
</ion-content>
