<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Layout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <section>
      <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('header-efooter')">Header e Footer</ion-button>
  </section>
  <section>
      <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('grids')">Grids</ion-button>
  </section>
  <section>
      <ion-button shape="round" fill="outline" expand="block" (click)="openLayout('css-utilities')">Css utilities</ion-button>
  </section>
  
</ion-content>
