<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
       Arraste o item para editar.
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          Java
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option>
          Editar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <ion-label>
            PHP
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option>
            Editar
          </ion-item-option>
          <ion-item-option color="danger">
              Excluir
            </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
          <ion-item>
            <ion-label>
              Python
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option>
              Editar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
            <ion-item>
              <ion-label>
                Ruby
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option>
                Editar
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
  </ion-list>
</ion-content>
