<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
       Loading
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button expand="block" (click)="exibeLoadingDefault()">Loading default</ion-button>
  <ion-button expand="block" (click)="exibeLoadingCostumizado()">Loading Costumizado</ion-button>
  <ion-button expand="block" (click)="consumoApi()">Loading Consumo API</ion-button>  
</ion-content>
