<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        CSS UTILITIES
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-start>
          <h3>Curso Ionic 4</h3>
          Neste curso voce irá aprender cada componente que o Ionic nos oferece.
          Fazendo este treinamento completo, você poderá obter rende com desenvolvimento de aplicativos móveis e Web
        </div>
      </ion-col>
      <ion-col>
          <div>
            <h3>Curso Ionic 4</h3>
            Neste curso voce irá aprender cada componente que o Ionic nos oferece.
            Fazendo este treinamento completo, você poderá obter rende com desenvolvimento de aplicativos móveis e Web
          </div>
        </ion-col>
        <ion-col>
            <div>
              <h3>Curso Ionic 4</h3>
              Neste curso voce irá aprender cada componente que o Ionic nos oferece.
              Fazendo este treinamento completo, você poderá obter rende com desenvolvimento de aplicativos móveis e Web
            </div>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
