<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Grids
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h3>A grid possui 12 colunas</h3>
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        GRID ZEROUM
      </ion-col>
      <ion-col>
        GRID ZERODOIS
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        Coluna 01
      </ion-col>
      <ion-col>
        Coluna 02
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            Coluna 01
        </ion-col>
        <ion-col>
            Coluna 02
          </ion-col>
          <ion-col>
              Coluna 03
            </ion-col>
            <ion-col>
                Coluna 04
              </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
